 body {
    background:#0394fc;
    text-align:center;
  
    background-image: url("bgg.jpg");
    
  }
  
  h4{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    color:yellow;}
  h3
  {
      font-size: 50px;
      font-family: 'Anton', sans-serif;
      color: orange;
  }
  
  .button {
    background-color:black;
    border: 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    
    display: inline-block;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
  }
  
  .fo{
    width:25%;
    padding:10px;
    border: 5 px solid black;
    margin:3%;
    float:left;
    background-color: whitesmoke;
    height:50px;
  }
  @media only screen and (max-width:500px) {
	
    .fo,  .ro, .button, .h3,h3,h4, .h4, .roi, .sec1,  p{
     width: 100%;
    
   }
   .container {
     width: 100%;
     padding: 80px;
    
   }
  }
  
  
