p {
    animation:glow 15s ease-in-out infinite;
   }
  
  body {
    background:#0394fc;
    text-align:center;
    overflow:hidden;
    background-image: url("bgg.jpg");
    height:100%;

  }
  
  h4{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    color:yellow;}
  h3
  {
      font-size: 50px;
      font-family: 'Anton', sans-serif;
      color: orange;
  }
  .sec1
  {
      padding: 120px;
  }
  .button {
    background-color:black;
    border: 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    
    display: inline-block;
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    cursor: pointer;
  }
  
  .fo{
    width:25%;
    padding:10px;
    border: 5 px solid black;
    margin:3%;
    float:left;
    background-color: whitesmoke;
    height:50px;
  }
  @media only screen and (max-width:500px) {
	
    .fo, h1, .ro, .button, .h3,h3,h4, .h4, .roi, .sec1, .respo, img, .img ,p,.p{
     width: 100%;
    
   }
   .container {
     width: 100%;
     padding: 80px;
    
   }
  }
  p {
    display:block;
    width:25%;
    height: 30%;
    padding-left: 40px;
    font-size:60px;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;
    position:absolute;
    color:white;
    
  }
  @keyframes glow {
    0%,100%{ text-shadow:0 0 30px orange; }
    25%{ text-shadow:0 0 30px red; }
    50%{ text-shadow:0 0 30px pink; }
    75%{ text-shadow:0 0 30px mediumseagreen; }
  }
 
  
  
